<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <title>gold-password-input no loading demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../paper-styles/color.html">

    <link rel="import" href="../gold-password-input.html">

    <style is="custom-style" include="demo-pages-shared-styles">
      .vertical-section-container {
        min-width: 480px;
      }
    </style>
  </head>
  <body unresolved>
    <div class="vertical-section-container centered">
      <h4>No strength meter configured on this page!</h4>
      <demo-snippet class="centered-demo">
        <template>
          <gold-password-input></gold-password-input>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
